@import "tailwindcss";

@layer base {
  html {
    background-color: #030014;
    color: white;
  }
}

.gradient-text {
  background: linear-gradient(to right, #a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}